.mat-card {
  padding: 0;
  overflow: hidden;
  height: 100%;

  @media screen and (max-width: 599px) {
    margin-bottom: 1em;
  }

  .mat-toolbar {
    text-transform: uppercase;
  }

  .mat-card-content {
    padding: 16px;
  }
}
