<mat-card>
  <mat-card-title>
    <mat-toolbar color="accent">
      <span translate>Upcoming Birthdays</span>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let villager of villagers">
        <img
          matListAvatar
          defaultImage="assets/villagers.png"
          [lazyLoad]="villager.iconUri"
          [attr.alt]="getValue(villager.name, 'name')"
        />
        <h3 matLine>
          <b>{{ getValue(villager.name, 'name') }}</b>
        </h3>
        <app-birthday
          class="birthday-tile"
          [month]="getMonthName(villager.birthdayString) | translate"
          [date]="getDate(villager.birthdayString)"
          (click)="openModal(villager.fileName)"
        ></app-birthday>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
