<div class="container">
  <mat-card>
    <mat-card-title class="title">
      <h1 translate>APP_NAME</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <fieldset>
        <legend translate>Data from</legend>
        <ul>
          <li *ngFor="let dataSource of dataSources">
            <a [attr.href]="dataSource" target="_blank">{{ dataSource }}</a>
          </li>
        </ul>
      </fieldset>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <span translate>Version</span> {{ version }}
    </mat-card-content>
  </mat-card>
</div>
