<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>pest_control</mat-icon>&nbsp;<span translate>Insects</span></ng-template>
    <ng-template matTabContent> <app-critter-board critter="bugs"></app-critter-board> </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>set_meal</mat-icon>&nbsp;<span translate>Fish</span></ng-template>
    <ng-template matTabContent> <app-critter-board critter="fish"></app-critter-board> </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>waves</mat-icon>&nbsp;<span translate>Sea Creatures</span></ng-template>
    <ng-template matTabContent> <app-critter-board critter="sea"></app-critter-board> </ng-template>
  </mat-tab>
</mat-tab-group>
