.highlight-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  overflow-y: auto;
  height: calc(100vh - 112px);
  gap: 1em;
  margin: 0;
  padding-top: 1em;

  .fossil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: #80808042;
    }

    .fossil-icon {
      &.highlighted {
        filter: drop-shadow(2px 5px 10px currentColor);
      }
    }
  }
}
