@import "../../../theme/theme-variables.scss";

.mat-toolbar {
  margin-bottom: 1em;
  text-transform: uppercase;
}
.current-time {
  position: absolute;
  width: 2px;
  height: 50%;
  background: map-get($map: $light-accent, $key: "A400");

  @media (prefers-color-scheme: dark) {
    background: map-get($map: $dark-accent, $key: "A400");
  }

  bottom: 0;
  margin-left: calc(100% / 24);
}
.container {
  height: calc(100% - 5.25em);
  min-height: 150px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  @media screen and (max-width: 1000px) {
    margin-bottom: 1em;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: rgba(255, 255, 255, 0.12);
  }

  .divider {
    height: 50%;

    &.full {
      height: 100%;
      position: relative;

      &::before {
        content: attr(data-hour);
        font-family: "Open Sans", sans-serif;
        position: absolute;
        left: 10%;
      }
    }

    &[data-hour="12"]::after {
      content: attr(data-tod);
      font-family: "Open Sans", sans-serif;
      position: relative;
      left: 120%;
    }

    &:not(.full) {
      position: relative;
      top: 50%;
    }

    &.active {
      background: #80808042;

      @media (prefers-color-scheme: dark) {
        background: rgba(255, 255, 255, 0.12);
      }
    }
  }
}
