<mat-toolbar color="primary">
  <mat-icon>schedule</mat-icon>&nbsp;
  <span translate>Active Hours</span>
</mat-toolbar>
<span class="current-time" [style.left]="dayPercent + '%'"></span>
<div class="container">
  <div class="hour" *ngFor="let hour of hours">
    <mat-divider
      vertical="true"
      class="divider"
      [class.full]="needsFullHeight(hour)"
      [class.active]="isActiveIn(hour)"
      [attr.data-hour]="convertTo12Hour(hour)"
      [attr.data-tod]="toTOD(hour) | translate"
    ></mat-divider>
  </div>
</div>
