.container {
  min-width: 90vw;
  position: relative;
  height: calc(100vh - 56px);

  @media screen and (min-width: 500px) {
    min-width: 33vw;
    height: calc(100vh - 64px);
  }

  @media screen and (min-width: 1000px) {
    min-width: 25vw;
  }

  .footer-bar {
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    button {
      width: 100%;
      text-transform: uppercase;
    }
  }
}

.mat-selection-list {
  max-height: 50vh;
  overflow: auto;
}
