<div class="container">
  <app-counter class="art" header="Art" [count]="count" headerType="primary" [isLoading]="isLoading"></app-counter>
  <app-counter
    class="fossils"
    header="Fossils"
    [count]="count"
    headerType="accent"
    [isLoading]="isLoading"
  ></app-counter>

  <app-counter
    class="insects"
    header="Insects"
    [count]="count"
    headerType="default"
    [isLoading]="isLoading"
  ></app-counter>
  <app-counter class="fish" header="Fish" [count]="count" headerType="primary" [isLoading]="isLoading"></app-counter>
  <app-counter class="sea" header="Sea Creatures" [count]="count" [isLoading]="isLoading"></app-counter>

  <app-owned-songs class="owned"></app-owned-songs>
  <app-upcoming-birthdays class="birthdays"></app-upcoming-birthdays>
</div>
